@{
    Page.Title = "DemoBiblioteca";
    Layout = "_Layout.cshtml";
    Database db = Database.Open("Biblioteca");
    List<Genero> listaEditoriales = new List<Genero>();
    
    if(IsPost)
    {
        string editorial = Request["editorial"];
        db.Query("INSERT INTO Editorial VALUES (@0)", editorial);
    }
    
}


<div>
    
    <form action="#" method="post">
        <div id="Contenedor">
            <table id="Resultado">
                <tr><td><label>Editorial: </label></td><td><input type="text" name="editorial" value="" /></td></tr>
                <tr><td><input type="submit" name="btnenviar" value="Guardar" /></td></tr>
            </table>
        </div>
    </form>

    

</div>
